<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lego IR Blaster</title>
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

    function cmd(channel, output, speed, brake) {
        $.post('/cmd', {
            speed: speed,
            channel: channel,
            output: output,
            brake: brake
        }).done(function(data){
            $('#cmd').html(data.cmd);
            console.log(data.cmd);
        });
    }
    {% for channel in channels %}{% for output in outputs %}
    $('#speed{{ channel * outputs|length - outputs|length + loop.index}}').slider({
        value: 0,
        min: -7,
        max: 7,
        step: 1,
        slide: function(event, ui){
            cmd({{ channel }}, '{{ output }}', ui.value, 0);
        }
    });

    $('#brake{{ channel * outputs|length - outputs|length + loop.index}}').click(function(){
        cmd({{channel}}, '{{ output }}', 0, 1);
        $('#speed{{ channel * outputs|length - outputs|length + loop.index}}').slider('value', 0);
    });
    {% endfor %}{% endfor %}
    $('#reset').click(function(){
        {% for device in devices %}
        $('#brake{{ device }}').click();
        {% endfor %}
    });
    $('#reset').click();
});
</script>
</head>
<body>
<div id="page">
    <form action="/" method="get" onsubmit="return false">
        <table>
            <tr>
                <th scope="col" class="channel">Channel</th>
                <th scope="col" class="output">Output</th>
                <th scope="col" class="speed">Speed</th>
                <th scope="col" class="brake">Brake</th>
            </tr>
            {% for channel in channels %}{% for output in outputs %}
            <tr>
                {% if loop.index == 1 %}
                <td rowspan="{{ outputs|length }}">{{ channel }}</td>
                {% endif %}
                <td class="{{ output|lower }}">{{ output }}</td>
                <td><div id="speed{{ channel * outputs|length - outputs|length + loop.index}}"></div></td>
                <td><button class="ui-button ui-widget ui-corner-all" type="button" id="brake{{ channel * outputs|length - outputs|length + loop.index}}">&times;</button></td>
            </tr>
            {% endfor %}{% endfor %}
            <tr>
                <td colspan="5"><button class="ui-button ui-widget ui-corner-all" type="button" id="reset">Reset</button></td>
            </tr>
            <tr>
                <td colspan="5"><strong id="cmd">&nbsp;</strong></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>