<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ application_name }}</title>
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="/static/css/default.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

    function sendCommand(channel, output, speed, brake) {
        $.post('/send-command', {
            speed: speed,
            channel: channel,
            output: output,
            brake: brake
        }).done(function(data){
            showCommand(data.cmd);
        }).fail(function(xhr){
            showError(xhr.responseJSON.error);
        });
    }

    function showCommand(cmd) {
        $('#status').html(cmd).addClass('command').removeClass('error');
    }

    function showError(error) {
        $('#status').html(error).addClass('error').removeClass('command');
    }

    {% for channel in channels %}{% for output in outputs %}
    $('#speed{{ channel * outputs|length - outputs|length + loop.index}}').slider({
        value: 0,
        min: -7,
        max: 7,
        step: 1,
        slide: function(event, ui){
            sendCommand({{ channel }}, '{{ output }}', ui.value, 0);
        }
    });

    $('#brake{{ channel * outputs|length - outputs|length + loop.index}}').click(function(){
        sendCommand({{channel}}, '{{ output }}', 0, 1);
        $('#speed{{ channel * outputs|length - outputs|length + loop.index}}').slider('value', 0);
    });
    {% endfor %}{% endfor %}
    $('#reset').click(function(){
        {% for device in devices %}
        $('#brake{{ device }}').click();
        {% endfor %}
    });
    $('#reset').click();
});
</script>
</head>
<body>
<div id="page">
    <h1>{{ application_name }}</h1>
    <table>
        <tr>
            <th colspan="4"><span id="status"></span></th>
        </tr>
        <tr>
            <th scope="col" class="channel">Channel</th>
            <th scope="col" class="output">Output</th>
            <th scope="col" class="speed">Speed</th>
            <th scope="col" class="brake">Brake</th>
        </tr>
        {% for channel in channels %}{% for output in outputs %}
        <tr>
            {% if loop.index == 1 %}
            <td rowspan="{{ outputs|length }}">{{ channel }}</td>
            {% endif %}
            <td class="{{ output|lower }}">{{ output }}</td>
            <td><div id="speed{{ channel * outputs|length - outputs|length + loop.index}}"></div></td>
            <td><button class="ui-button ui-widget ui-corner-all" type="button" id="brake{{ channel * outputs|length - outputs|length + loop.index}}">&times;</button></td>
        </tr>
        {% endfor %}{% endfor %}
        <tr>
            <td colspan="4"><button class="ui-button ui-widget ui-corner-all" type="button" id="reset">Reset</button></td>
        </tr>
    </table>
    <p><em>LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site</em></p>
</div>
</body>
</html>