* {
    line-height: normal;
    font-size: 1em;
    cursor: default;
    margin: 0;
    padding: 0;
}
a, button {
    cursor: pointer;
}
body {
    font-family: Arial;
    color: #454545;
}
h1 {
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}
.channel {
    width: 15%;
}
.output {
    width: 15%;
}
.speed {
    width: 55%;
}
.brake {
    width: 15%;
}
table {
    background-color: #F6F6F6;
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #454545;
}
th, td {
    padding: 10px;
    text-align: center;
}
td.r {
    background-color: #C4281B;
}
td.b {
    background-color: #0D69AB;
}
.cmd {
    color: #287F46;
}
.error {
    color: #C4281B;
}
p {
    font-size: 0.75em;
    text-align: center;
    padding: 0.5em;
}
#page {
    max-width: 750px;
    margin: 0 auto 0 auto;
}