* {
    font-family: Arial;
    line-height: normal;
    font-size: 1em;
    color: #454545;
}
#header {
    font-size: 1.5em;
}
.channel {
    width: 15%;
}
.output {
    width: 15%;
}
.speed {
    width: 55%;
}
.brake {
    width: 15%;
}
table {
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 800px;
    background-color: #F6F6F6;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #454545;
    cursor: default;
}
th, td {
    padding: 10px;
    text-align: center;
}
td.r {
    background-color: #C4281B;
}
td.b {
    background-color: #0D69AB;
}
#cmd {
    color: #287F46;
}
#error {
    color: #C4281B;
}
#cmd, #error {
    display: none;
}
#disclaimer {
    font-size: 0.5em;
}